NODE_ENV=development
LOG_LEVEL=info
PROJECT_NAME=evangelismodigital

# App
APP_NAME="Projeto Evangelismo Digital"
APP_PORT=3333
JWT_SECRET=f6Wc8q7pZK4a5JvM1gE3nX2rL0hT9yBzR8dC5sU7mA2oN4jF6kP1vQ3xH9lG0tD
FRONTEND_URL=http://localhost:5173
HASH_SALT_ROUNDS=12
SENTRY_DSN=

# Comando de inicialização
COMMAND="npm run start:dev"

# PostgreSQL
POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=evangelismodigital
POSTGRES_PORT=5432
SCHEMA=public

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=ZP8xM6H4R5A0dJQ7L2WcN3E9yFVkBG

# URLs de conexão
DATABASE_URL="postgresql://postgres:postgres@db:5432/evangelismodigital?schema=public"
DATABASE_URL_LOCAL="postgresql://postgres:postgres@localhost:5432/evangelismodigital?schema=public"

# SMTP
SMTP_EMAIL=pedro.amaro@injunior.com.br
SMTP_PASSWORD=prah uboy xshv yubu
SMTP_PORT=465
SMTP_HOST=smtp.gmail.com
SMTP_SECURE=true

# ADMIN_EMAIL
ADMIN_EMAIL=pedro.amaro.fe@gmail.com

# NOMINATIM API
NOMINATIM_API_URL=https://nominatim.openstreetmap.org

LOCATION_IQ_API_URL=https://us1.locationiq.com/v1
LOCATION_IQ_API_TOKEN=pk.01f4eeb5e2fe8bfafa667b9b33e10dd0

# VIA CEP API
VIACEP_API_URL=https://viacep.com.br/ws

# AWESOME API
AWESOME_API_URL=https://cep.awesomeapi.com.br
AWESOME_API_TOKEN=50b065060e36f469d5e516653d55249e4a50715a537432103b13b0bd1f9c47a4

# BRASIL API
BRASIL_API_URL=https://brasilapi.com.br/api/cep/v1